@use "./base.scss";

// fix font size
p {
  font-size: 1.1rem;
  line-height: 2rem;
}
div.page-header h1 {
  font-family: title-font;
  font-size: 2rem;
}

//Changing title font
div.page-header h1,
p.content-meta {
  text-align: center;
}
.page-title {
  font-family: title-font;
}

// setting up fonts
@font-face {
  font-family: drop;
  src: url("static/CamelotCaps.ttf");
}
@font-face {
  font-family: title-font;
  src: url("static/MagilioRegular-Yzv2O.ttf");
}

// Dropcaps
div.center article h1:nth-of-type(1) + p::first-letter {
  float: left;
  line-height: 85%;
  width: 0.2em;
  font-family: "drop";
  font-size: 450%;
}

//Centering search
div.search {
  display: inline;
  #search-icon p {
    text-align: center;
  }
}

//Justifing articles
div.center article {
  text-align: justify;
}

//styling darkmode
div.darkmode {
  display: flex;
  justify-content: flex-end;
  max-width: 10px;
}

//styling graph
div.graph h3 {
  text-align: center;
}

div.backlinks h3 {
  text-align: center;
}
div.backlinks li {
  text-align: center;
  overflow: none;
  border: solid 2px var(--dark);
  align-self: center;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 200px;
}
div.backlinks ul {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
div.backlinks ul.overflow {
  overflow: visible;
}
:root[saved-theme="light"] div.backlinks li {
  background-color: var(--highlight);
}
:root[saved-theme="dark"] div.backlinks li {
  background-color: var(--highlight);
  color: #48cae4;
}
@media (max-width: 1510px) {
  .sidebar.right div.backlinks {
    flex-basis: 100% !important;
  }
  .sidebar.right {
    align-items: stretch !important;
  }
}
