@use "./base.scss";

// fix font size
p {
  font-size: 1.1rem;
}
div.page-header h1 {
  font-family: title-font;
  font-size: 2rem;
}

div.page-header h1,
p.content-meta {
  text-align: center;
}
.page-title {
  font-family: title-font;
}

// setting up fonts
@font-face {
  font-family: drop;
  src: url("static/CamelotCaps.ttf");
}
// Dropcaps
div.center article h1:nth-of-type(1) + p::first-letter {
  float: left;
  line-height: 85%;
  width: 0.2em;
  font-family: "drop";
  font-size: 450%;
}

div.search {
  display: inline;
  #search-icon p {
    text-align: center;
  }
}

div.center article {
  text-align: justify;
}

@font-face {
  font-family: title-font;
  src: url("static/MagilioRegular-Yzv2O.ttf");
}
